---
id: conlangs
title: Aylì'fya angawnop
layout: default
---

<p>Oeri eltur tìtxen si <a href="http://en.wikipedia.org/wiki/Constructed_language">aylì'fya angawnop</a>. Tsaylì'fya tsawl ke slolu txankrr, slä tuteol ngamop tsalì'fyati.</p>

<h2>Lì'fya leNa'vi</h2>
<p><a href="http://en.wikipedia.org/wiki/Na%27vi_language">Lì'fyari leNa'vi</a>, fkol ngamop tsat fpi rel arusikx alu <a href="https://en.wikipedia.org/wiki/Avatar_(2009_film)">Uniltìrantokx</a>. Fìlì'fyari pam fkan oeru miklor.</p>

<p>Oel ngolop aysrungtsyìpit a teri horen lì'fyayä leNa'vi.</p>
<ul>
  <li><a href="/navi/nouns">fpi aystxolì'u</a></li>
  <li><a href="/navi/verbs">fpi ayhemlì'u</a></li>
  <li><a href="/navi/adjectives">fpi aysyonlì'u</a></li>
</ul>

<p>Nìteng, <a href="/navi/yafkeyk">fìtsenge</a> nga tsun ivinan aysäomumit a lefkrra yafkeykteri nìNa'vi.</p>

<h3>Tìkenong lì'fyayä leNa'vi</h3>
<p>Kaltxì! Oeru fko syaw Wllìm.<br>Ngaru lu fpom srak?<br>Kìyevame!</p>
<p class="text-muted">Slä oe fpìl, txo nga tsivun fìpamrelit ivinan, tsakrr lì'fya leNa'vi smon ngar :)</p>

<h2>Lì'fya alu Lojban</h2>
<p><a href="http://lojban.org">Lì'fya alu Lojban</a> lu lì'fya angawnop a eltu lefngap tsun tslivam. Tafral, eltu lefngap tsun rivun pamrelä ralit. Nìkeftxo, oe ke tsun pivlltxe fa lì'fya alu Lojban nìltsan.</p>

<p>Pxaya vefya a fpi eltu lefngap tsun tslivam pamrelit a fko pamrel soli fa lì'fya alu Lojban, slä ke lu ftue tutesko fwa tslam tsayvefyati. Tafral ngolop oel 'uoti, fte fmivi ftue sleykivu fìkemit a tslam fìvefyati alu <i>camxes</i>. Fì'uti fko tsun rivun <a href="/lojban-parser">fìtsenge</a>.

<h3>Tìkenong lì'fyayä alu Lojban</h3>
<p>.i coi .i mi se cmene zo .uilym.<br>.i xu do kanro<br>.i co'o</p>
<p class="text-muted">(Ral fìtìkenongä sì pum tìkenongä aham lu teng.)</p>

