---
id: home
title: Tìsngä'i
layout: default
index_page: true
---

<h2 class="index-page-header">Zola'u nìprrte'!</h2>
<p>Kaltxì ulte zola'u nìprrte' fìtsengne! Fko syaw oeru Willem Sonke, fu nìNa'vi, Wllìm. Nìtrrtrr oe tìkangkem si mì numtseng apxa; tsatseng oel ftia ayeltuti lefngap. Tìk'ìnìri, lu oeru säsulìn a'a'aw.</p>
<p>Fìtsengeti tok oel ngolop a sìkangkemvil a fpi ayeltu lefngap, sì ayuot alahe a kxawm fpìl ngal futa lesar si, sìlpey oe.</p>
<p>Ngari txo eltur tìtxen si oeyä tìkangkem alu tìftia kifkeyä, rutxe tìng nari <a href="https://www.win.tue.nl/~wsonke/">fìtsengur a lawk tsatxeleti</a>.</p>
