---
id: about-me
title: Oeteri
layout: page
header_image: /static/img/leaves-header.jpg
---

<p>Kaltxì! Syaw fko oeru Willem Sonke, fu nìNa'vi, Wllìm.</p>

<%= render "/image.html", :url => "/static/img/willem.jpg", :description => "Fìpo lu oe!" %>

<p>Set oeyä txintìn lu fwa kanom PhD-it kip pongu alu <a href="http://www.win.tue.nl/aga">Applied Geometric Algorithms</a> mì <a href="http://www.tue.nl">leFngapa Ftiatsenge Äntovìnä</a> a mì Neytrrlan.</p>

<p>Sunu oeru pxaya kem, natkenong ayeltu lefngap, fwa ngop ayreltsyìpit arusikx, fwa ftia aylì'fyat angawnop, sì fwa ngop ayuti.</p>

<h2>Teri fìweptsenge</h2>
<p>Txo nivew nga ivomum fya'ot a ngop oel fìweptsengit - rutxe tìng nari fìpamrelä sreyur le'Ìnglìsì. Ke tsängun oe oeyktivìng nìNa'vi.</p>
