<div class="thesis-figure-tile">
    <img src="/static/files/thesis/<%= @file %><%= @pages ? "-1" : "" %>.svg"><br>
    Figure <%= @number %><br>
    <a href="/static/files/thesis/<%= @file %>.pdf">Ipe</a> /
    <% if @pages %>
        SVG:
        <% (1..@pages).each do |i| %>
            <a href="/static/files/thesis/<%= @file %>-<%= i %>.svg"><%= i %></a>
        <% end %>
    <% else %>
        <a href="/static/files/thesis/<%= @file %><%= @page ? "-" + @page : "" %>.svg">SVG</a>
    <% end %>
    <% if @blender %>
        / <a href="/static/files/thesis/<%= @blender %>.blend">Blender</a>
    <% end %>
</div>
