---
id: home
title: ホーム
layout: default
index_page: true
---

<h2 class="index-page-header">ようこそ！</h2>
<p>このウェブサイトへようこそ！私の名前は、ソンケ・ウイレムです。コンピュータ・サイエンス研究者で、暇ならいろいろな趣味とかプロジェクトがあります。</p>
<p>このサイトでいくつか私が手がけたソフトが見つけます。いろいろな他の物もありますので、たぶんように立ちます。</p>
<p>私の研究と授業に興味があれば、<a href="https://www.win.tue.nl/~wsonke/">アイントホーフェン大学のこの研究サイト</a>を見てください。</p>
