---
id: navi-verbs
title: Na'vi verbs
short_title: Verbs
layout: default
navbar: navi
---

<style>
    .prefirst {
        color: #dd2255;
        font-weight: bold;
    }
    .first {
        color: #229955;
        font-weight: bold;
    }
    .second {
        color: #2255dd;
        font-weight: bold;
    }
    .no-highlight .prefirst {
        color: inherit;
        font-weight: inherit;
    }
    .no-highlight .first {
        color: inherit;
        font-weight: inherit;
    }
    .no-highlight .second {
        color: inherit;
        font-weight: inherit;
    }
    .prefix {
        font-weight: bold;
    }
    .suffix {
        font-weight: bold;
    }
    #options-table th {
        text-align: right;
    }
    .result {
        font-size: 200%;
    }
</style>
<p>This is a tool to conjugate Na'vi verbs. Verbs are conjugated by placing infixes on certain positions in the root form of the verb. To start, enter the root form of the verb below.</p>
<form>
    <center>
        <input id="verb-input" type="text" class="form-control" style="width: 300px;" placeholder="Enter a verb here..."></input>
        <div id="infix-found-message" style="display: none; text-align: center;">
            Infix positions: <b><span id="infix-found-infix">.</span></b>
            <br>
            <span class="text-muted" style="font-size: 75%">(This infix position data is taken from the <a href="http://eanaeltu.learnnavi.org/dicts/NaviData.sql"><i>Eana Eltu</i> database dump</a>, which is licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/"><i>CC-BY-SA-NC 3.0 Unported</i></a> license.)</span>
        </div>
    </center>
</form>
<br>
<div id="infix-error" class="alert alert-warning" style="display: none;">Unfortunately, I don't know the infix positions of this verb, and thus I don't know where the infixes should be placed. However, I can still help you if you indicate them using dots ("<b>.</b>"). For example: "<b>t.ar.on</b>"; "<b>yomt..ìng</b>"; "<b>kelku s..i</b>".</div>
<div id="infix-position-error" class="alert alert-danger" style="display: none;">These infix positions cannot be correct: they need to be placed before a vowel. Please look up the correct infix positions for this verb.</div>
<div id="continuation" style="display: none;">
    <p>Now, indicate below which infixes you want to use. Not all combinations are possible; the corresponding buttons will be disabled.</p>
    <form>
        <center>
            <table id="options-table" class="table table-hover" style="width: 80%;">
                <tr id="transitivity-row">
                    <th>Transitivity</th>
                    <td>
                        <p><i>These change the transitivity of the verb. The causative makes an intransitive verb transitive ("... causes ... to hunt"); the reflexive makes a transitive verb intransitive ("... hunts himself").</i></p>
                        <div id="transitivity-buttons" class="btn-group" data-toggle="buttons">
                            <label onclick="update()" class="btn btn-default active" id="transitivity-none">
                                <input type="radio" checked> None
                            </label>
                            <label onclick="update()" class="btn btn-default" id="transitivity-causative">
                                <input type="radio"> Causative <i>(eyk)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="transitivity-reflexive">
                                <input type="radio"> Reflexive <i>(äp)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="transitivity-both">
                                <input type="radio"> Both
                            </label>
                        </div>
                    </td>
                </tr>
                <tr id="mode-row">
                    <th>Mode</th>
                    <td>
                        <p><i>The subjunctive describes a wish or is used with modal verbs. With subjunctive verbs, there are fewer possibilities for tense and aspect. A participle is an adjective made from a verb. Participles cannot have tense, aspect or mood.</i></p>
                        <div id="mode-buttons" class="btn-group" data-toggle="buttons">
                            <label onclick="update()" class="btn btn-default active" id="mode-not">
                                <input type="radio" checked> None
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mode-subjunctive">
                                <input type="radio"> Subjunctive <i>(iv)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mode-active-participle">
                                <input type="radio"> Active participle <i>(us)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mode-passive-participle">
                                <input type="radio"> Passive participle <i>(awn)</i>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr id="aspect-row">
                    <th>Aspect</th>
                    <td>
                        <p><i>How the speaker wishes to present the action. Perfective: the action is presented as one completed "snapshot"; imperfective: the action is presented as a &lsquo;background&rsquo; for other actions.</i></p>
                        <div id="aspect-buttons" class="btn-group" data-toggle="buttons">
                            <label onclick="update()" class="btn btn-default active" id="aspect-none">
                                <input type="radio" checked> Not marked
                            </label>
                            <label onclick="update()" class="btn btn-default" id="aspect-perfective">
                                <input type="radio"> Perfective <i>(ol)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="aspect-imperfective">
                                <input type="radio"> Imperfective <i>(er)</i>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr id="tense-row">
                    <th>Tense</th>
                    <td>
                        <p><i>When the action happened / happens.</i></p>
                        <div id="tense-buttons" class="btn-group" data-toggle="buttons">
                            <label onclick="update()" class="btn btn-default active" id="tense-none">
                                <input type="radio" checked> Not marked
                            </label>
                            <label onclick="update()" class="btn btn-default" id="tense-past">
                                <input type="radio"> Past <i>(am)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="tense-near-past">
                                <input type="radio"> Near past <i>(ìm)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="tense-near-future">
                                <input type="radio"> Near future <i>(ìy)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="tense-future">
                                <input type="radio"> Future <i>(ay)</i>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr id="intent-row">
                    <th>Intent</th>
                    <td>
                        <p><i>Whether the speaker has an intent to do the described action. Only used with a future tense and no aspect.</i></p>
                        <div id="intent-buttons" class="btn-group" data-toggle="buttons">
                            <label onclick="update()" class="btn btn-default active" id="intent-none">
                                <input type="radio" checked> None
                            </label>
                            <label onclick="update()" class="btn btn-default disabled" id="intent-intent">
                                <input type="radio"> Future with intent <i>(-s-)</i>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr id="mood-row">
                    <th>Mood</th>
                    <td>
                        <p><i>How the speaker feels about the action.</i></p>
                        <div id="mood-buttons" class="btn-group" data-toggle="buttons">
                            <label onclick="update()" class="btn btn-default active" id="mood-none">
                                <input type="radio" checked> Not marked
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mood-positive">
                                <input type="radio"> Positive <i>(ei)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mood-negative">
                                <input type="radio"> Negative <i>(äng)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mood-formal">
                                <input type="radio"> Formal <i>(uy)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mood-inferential">
                                <input type="radio"> Inferential <i>(ats)</i>
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </center>
    </form>
    <center>
        <p><b>Result:</b></p>
        <span id="result"></span>
        <div id="participle-only-attributive-warning" class="alert alert-info" style="display: none;">
            <b>Note:</b> participles can only be used attributively.
            That is, you cannot say
            <i>"&lt;noun&gt; lu <span id="result-participle"></span>"</i>;
            only
            <i>"&lt;noun&gt; <span id="prefix-result-participle"></span>"</i> or
            <i>"<span id="suffix-result-participle"></span> &lt;noun&gt;"</i>.
        </div>
        <div>&nbsp;</div>
    </center>
</div>

<script src="/static/js/navi/infix-database.js"></script>

<script>
    var typingTimeout
    var previousVerb
    $(document).ready(function() {
        $('#verb-input').keyup(function() {
            
            if ($('#verb-input').val() === previousVerb) {
                return
            }
            //$('#declension-table').fadeOut()
            previousVerb = $('#verb-input').val()
            
            var el = this
            
            if (typingTimeout) {
                clearTimeout(typingTimeout)
            }
            typingTimeout = setTimeout(function() {
                realUpdate.call(el)
            }, 500)
        });
        realUpdate()
    });
    
    function update() {
        setTimeout(function() {
            realUpdate()
        }, 0)
    }
    
    function realUpdate() {
        updateDisabledButtons()
        
        var root = $('#verb-input').val()
        // no input? then no error, but also no results ;)
        if (!root) {
            $('#infix-found-message').slideUp()
            $('#infix-error').slideUp()
            $('#infix-position-error').slideUp()
            $('#continuation').fadeOut()
            return
        }
        
        // find the two dots
        var firstPos = root.indexOf(".")
        var secondPos = root.indexOf(".", firstPos + 1)
        if (firstPos === -1 || secondPos === -1) {
            // no infixes indicated, let's look up the verb in the database then
            if (infixDatabase[root]) {
                root = infixDatabase[root]
                $('#infix-found-message').slideDown()
                $('#infix-found-infix').html(root)
                firstPos = root.indexOf(".")
                secondPos = root.indexOf(".", firstPos + 1)
            } else {
                $('#infix-found-message').slideUp()
                $('#infix-error').slideDown()
                $('#infix-position-error').slideUp()
                $('#continuation').fadeOut()
                return
            }
        } else {
            // okay, the user has indicated infixes
            $('#infix-found-message').slideUp()
            
            // sanity check: is there a vowel after the infixes?
            if (!(root.substring(firstPos + 1, firstPos + 2) === "a" ||
                    root.substring(firstPos + 1, firstPos + 2) === "ä" ||
                    root.substring(firstPos + 1, firstPos + 2) === "e" ||
                    root.substring(firstPos + 1, firstPos + 2) === "i" ||
                    root.substring(firstPos + 1, firstPos + 2) === "ì" ||
                    root.substring(firstPos + 1, firstPos + 2) === "o" ||
                    root.substring(firstPos + 1, firstPos + 2) === "u" ||
                    root.substring(firstPos + 1, firstPos + 3) === "ll" ||
                    root.substring(firstPos + 1, firstPos + 3) === "rr" ||
                    root.substring(firstPos + 1, firstPos + 2) === ".")) {
                $('#infix-error').slideUp()
                $('#infix-position-error').slideDown()
                $('#continuation').fadeOut()
                return
            }
            if (!(root.substring(secondPos + 1, secondPos + 2) === "a" ||
                    root.substring(secondPos + 1, secondPos + 2) === "ä" ||
                    root.substring(secondPos + 1, secondPos + 2) === "e" ||
                    root.substring(secondPos + 1, secondPos + 2) === "i" ||
                    root.substring(secondPos + 1, secondPos + 2) === "ì" ||
                    root.substring(secondPos + 1, secondPos + 2) === "o" ||
                    root.substring(secondPos + 1, secondPos + 2) === "u" ||
                    root.substring(secondPos + 1, secondPos + 3) === "ll" ||
                    root.substring(secondPos + 1, secondPos + 3) === "rr" ||
                    root.substring(secondPos + 1, secondPos + 2) === "(")) {
                $('#infix-error').slideUp()
                $('#infix-position-error').slideDown()
                $('#continuation').fadeOut()
                return
            }
        }
        
        $('#infix-error').slideUp()
        $('#infix-position-error').slideUp()
        $('#continuation').fadeIn()
        
        // find the text between the dots
        var beforeFirst = root.substring(0, firstPos)
        var between = root.substring(firstPos + 1, secondPos)
        var afterSecond = root.substring(secondPos + 1)
        
        // a special case for "zenke"
        if (afterSecond.substring(0, 3) === "(e)") {
            if ($('#mood-formal').hasClass('active') || $('#mood-inferential').hasClass('active')) {
                var afterSecond = "e" + afterSecond.substring(3)
            } else {
                var afterSecond = afterSecond.substring(3)
            }
        }
        
        var prefirst = prefirstInfix()
        var first = firstInfix()
        var second = secondInfix(afterSecond)
        
        // Horen 2.3.2. Two special cases:
        var word
        
        // 1) first infix = "ol"; next syllable starts with "ll" ->
        //                              either "ol" or "ll" disappears, dependent on stress
        if ((between + second + afterSecond).substring(0, 2) === "ll" && first === "<span class='first'>ol</span>") {
            var word = "<table><tr>" +
                    "<td style='text-align: right;'><span class='muted'><i>if stress on <b>ll</b></i>:</span></td><td>&nbsp;</td>" +
                    "<td><span class='result'>" +
                    buildResult(beforeFirst, prefirst, "-", between, second, afterSecond) +
                    "</span></td>" +
                    "</tr>" +
                    "<tr>" +
                    "<td style='text-align: right;'><span class='muted'><i>else:</i></span></td><td></td>" +
                    "<td><span class='result'>" +
                    buildResult(beforeFirst, prefirst, first, between.substring(2), second, !between ? afterSecond.substring(2) : afterSecond) +
                    "</span></td>" +
                    "</tr></table>"
                    
        // 2) first infix = "er"; next syllable starts with "rr" ->
        //                              either "er" or "rr" disappears, dependent on stress
        } else if ((between + second + afterSecond).substring(0, 2) === "rr" && first === "<span class='first'>er</span>") {
            var word = "<table><tr>" +
                    "<td style='text-align: right;'><span class='muted'><i>if stress on <b>rr</b></i>:</span></td><td>&nbsp;</td>" +
                    "<td><span class='result'>" +
                    buildResult(beforeFirst, prefirst, "-", between, second, afterSecond) +
                    "</span></td>" +
                    "</tr>" +
                    "<tr>" +
                    "<td style='text-align: right;'><span class='muted'><i>else:</i></span></td><td></td>" +
                    "<td><span class='result'>" +
                    buildResult(beforeFirst, prefirst, first, between.substring(2), second, !between ? afterSecond.substring(2) : afterSecond) +
                    "</span></td>" +
                    "</tr></table>"
                    
        // no special case
        } else {
            var word = "<span class='result'>" +
                    buildResult(beforeFirst, prefirst, first, between, second, afterSecond) +
                    "</span>"
        }
        
        // now output the result
        $('#result').html(word)
        
        // finally, the warnings and notes...
        
        // the participles-only-attributive warning
        if ($('#mode-active-participle').hasClass('active') || $('#mode-passive-participle').hasClass('active')) {
            $('#participle-only-attributive-warning').slideDown()
            $('#result-participle').html("<span class='no-highlight'>" + beforeFirst + prefirst + first + between + second + afterSecond + "</span>")
            $('#prefix-result-participle').html(prefixedAdjective(beforeFirst + prefirst + first + between + second + afterSecond))
            $('#suffix-result-participle').html(suffixedAdjective(beforeFirst + prefirst + first + between + second + afterSecond))
        } else {
            $('#participle-only-attributive-warning').slideUp()
        }
    }
    
    function updateDisabledButtons() {
        
        // reflexive infix cannot be combined with passive participles
        // (http://forum.learnnavi.org/language-updates/reflexive-causative-in-combination-with-the-infixes-ltusgt-and-ltawngt)
        if ($('#transitivity-reflexive').hasClass('active') || $('#transitivity-both').hasClass('active')) {
            disableAndReplaceBy($('#mode-passive-participle'), $('#mode-not'))
        } else {
            enable($('#mode-passive-participle'))
        }
        
        // participles cannot have aspect, tense, intent, mood
        if ($('#mode-active-participle').hasClass('active') || $('#mode-passive-participle').hasClass('active')) {
            
            disableAndReplaceBy($('#aspect-row label'), $('#aspect-none'))
            disableAndReplaceBy($('#tense-row label'), $('#tense-none'))
            disableAndReplaceBy($('#intent-row label'), $('#intent-none'))
            disableAndReplaceBy($('#mood-row label'), $('#mood-none'))
            
            return
        }
        
        enable($('#aspect-row label'))
        enable($('#tense-row label'))
        
        // with the subjunctive, no "near" tense gradations are possible...
        if ($('#mode-subjunctive').hasClass('active')) {
            disableAndReplaceBy($('#tense-near-past'), $('#tense-none'))
            disableAndReplaceBy($('#tense-near-future'), $('#tense-none'))
            
            // ... and we cannot combine aspect and tense anymore
            if (!$('#aspect-none').hasClass('active')) {
                disableAndReplaceBy($('#tense-past'), $('#tense-none'))
                disableAndReplaceBy($('#tense-future'), $('#tense-none'))
            }
        }
        
        // intent cannot be present if aspect is marked, and we have a future tense
        if ($('#mode-not').hasClass('active') && $('#aspect-none').hasClass('active') &&
                    ($('#tense-near-future').hasClass('active') || $('#tense-future').hasClass('active'))) {
            enable($('#intent-intent'))
        } else {
            disableAndReplaceBy($('#intent-intent'), $('#intent-none'))
        }
        
        enable($('#mood-row label'))
    }
    
    function disableAndReplaceBy($toDisable, $toReplaceBy) {
        
        var shouldReplace = false
        for (var i = 0; i < $toDisable.length; i++) {
            var child = $toDisable[i]
            if ($(child).hasClass('active')) {
                shouldReplace = true
            }
        }
        
        $toDisable.addClass('disabled')
        $toDisable.removeClass('active')
        $toDisable.children('input').prop('checked', false)
        
        $toReplaceBy.removeClass('disabled')
        if (shouldReplace) {
            $toReplaceBy.addClass('active')
            $toReplaceBy.children('input').prop('checked', true)
        }
    }
    
    function enable($toEnable) {
        $toEnable.removeClass('disabled')
    }
    
    // finds and returns the pre-first infix
    function prefirstInfix() {
        if ($('#transitivity-causative').hasClass('active')) {
            return "<span class='prefirst'>eyk</span>"
        } else if ($('#transitivity-reflexive').hasClass('active')) {
            return "<span class='prefirst'>äp</span>"
        } else if ($('#transitivity-both').hasClass('active')) {
            return "<span class='prefirst'>äpeyk</span>"
        } else {
            return ""
        }
    }
    
    // finds and returns the first infix
    // yes, I know, this function is large and ugly ;)
    function firstInfix() {
        if ($('#mode-active-participle').hasClass('active')) {
            return "<span class='first'>us</span>"
        } else if ($('#mode-passive-participle').hasClass('active')) {
            return "<span class='first'>awn</span>"
        } else if ($('#mode-subjunctive').hasClass('active')) {
            
            // subjunctive infixes
            if ($('#tense-future').hasClass('active')) {
                return "<span class='first'>ìyev/iyev</span>"
                
            } else if ($('#tense-none').hasClass('active')) {
                if ($('#aspect-none').hasClass('active')) {
                    return "<span class='first'>iv</span>"
                } else if ($('#aspect-perfective').hasClass('active')) {
                    return "<span class='first'>ilv</span>"
                } else {
                    return "<span class='first'>irv</span>"
                }
                
            } else if ($('#tense-past').hasClass('active')) {
                return "<span class='first'>imv</span>"
            }
            
        } else {
            
            // non-subjunctive infixes
            if ($('#tense-future').hasClass('active')) {
                if ($('#aspect-none').hasClass('active')) {
                    if ($('#intent-none').hasClass('active')) {
                        return "<span class='first'>ay</span>"
                    } else {
                        return "<span class='first'>asy</span>"
                    }
                } else if ($('#aspect-perfective').hasClass('active')) {
                    return "<span class='first'>aly</span>"
                } else {
                    return "<span class='first'>ary</span>"
                }
                
            } else if ($('#tense-near-future').hasClass('active')) {
                if ($('#aspect-none').hasClass('active')) {
                    if ($('#intent-none').hasClass('active')) {
                        return "<span class='first'>ìy</span>"
                    } else {
                        return "<span class='first'>ìsy</span>"
                    }
                } else if ($('#aspect-perfective').hasClass('active')) {
                    return "<span class='first'>ìly</span>"
                } else {
                    return "<span class='first'>ìry</span>"
                }
                
            } else if ($('#tense-none').hasClass('active')) {
                if ($('#aspect-none').hasClass('active')) {
                    return ""
                } else if ($('#aspect-perfective').hasClass('active')) {
                    return "<span class='first'>ol</span>"
                } else {
                    return "<span class='first'>er</span>"
                }
                
            } else if ($('#tense-near-past').hasClass('active')) {
                if ($('#aspect-none').hasClass('active')) {
                    return "<span class='first'>ìm</span>"
                } else if ($('#aspect-perfective').hasClass('active')) {
                    return "<span class='first'>ìlm</span>"
                } else {
                    return "<span class='first'>ìrm</span>"
                }
                
            } else if ($('#tense-past').hasClass('active')) {
                if ($('#aspect-none').hasClass('active')) {
                    return "<span class='first'>am</span>"
                } else if ($('#aspect-perfective').hasClass('active')) {
                    return "<span class='first'>alm</span>"
                } else {
                    return "<span class='first'>arm</span>"
                }
            }
        }
    }
    
    // finds and returns the second infix
    function secondInfix(afterSecond) {
        
        if ($('#mood-positive').hasClass('active')) {
            // Horen 2.3.3
            if (afterSecond.charAt(0) === "i" || afterSecond.charAt(0) === "ì" || afterSecond.substring(0, 2) === "ll" || afterSecond.substring(0, 2) === "rr") {
                return "<span class='second'>eiy</span>"
            } else {
                return "<span class='second'>ei</span>"
            }
        } else if ($('#mood-negative').hasClass('active')) {
            // Horen 2.3.5.2
            if (afterSecond.charAt(0) === "i") {
                return "<span class='second'>äng/eng</span>"
            } else {
                return "<span class='second'>äng</span>"
            }
        } else if ($('#mood-formal').hasClass('active')) {
            return "<span class='second'>uy</span>"
        } else if ($('#mood-inferential').hasClass('active')) {
            return "<span class='second'>ats</span>"
        } else {
            return ""
        }
    }
    
    function buildResult(beforeFirst, prefirst, first, between, second, afterSecond) {
        var word = beforeFirst +
                    (prefirst ? "-" : "") +
                    prefirst +
                    (prefirst ? "-" : "") +
                    (first ? "-" : "") +
                    first +
                    (first ? "-" : "") +
                    between +
                    (second ? "-" : "") +
                    second +
                    (second ? "-" : "") +
                    afterSecond
        
        // replace sequences of ----- by -
        // and remove -'s on the end and begin
        word = word.replace(/-+/g, "-").replace(/^-/, "").replace(/-$/, "")
        
        return word
    }
    
    function prefixedAdjective(adjective) {
        if (adjective.charAt(0) === "a") { // TODO should this also be done with aw- and ay-?
            return "<span class='no-highlight'>" + adjective + "</span>"
        } if (adjective.substring(0, 2) === "le") {
            return "<span class='prefix'>(a)</span>-" + "<span class='no-highlight'>" + adjective + "</span>"
        } else {
            return "<span class='prefix'>a</span>-" + "<span class='no-highlight'>" + adjective + "</span>"
        }
    }
    
    function suffixedAdjective(adjective) {
        if (adjective.charAt(adjective.length - 1) === "a") {
            return "<span class='no-highlight'>" + adjective + "</span>"
        } else {
            return "<span class='no-highlight'>" + adjective + "</span>-<span class='suffix'>a</span>"
        }
    }
</script>
