---
id: navi-verbs
title: Na'vi-Verben
short_title: Verben
layout: default
navbar: navi
---

<style>
    .prefirst {
        color: #dd2255;
        font-weight: bold;
    }
    .first {
        color: #229955;
        font-weight: bold;
    }
    .second {
        color: #2255dd;
        font-weight: bold;
    }
    .no-highlight .prefirst {
        color: inherit;
        font-weight: inherit;
    }
    .no-highlight .first {
        color: inherit;
        font-weight: inherit;
    }
    .no-highlight .second {
        color: inherit;
        font-weight: inherit;
    }
    .prefix {
        font-weight: bold;
    }
    .suffix {
        font-weight: bold;
    }
    #options-table th {
        text-align: right;
    }
    .result {
        font-size: 200%;
    }
</style>
<p>Dies ist ein kleines Programm das Na'vi-Verben konjugiert. In Na'vi, Konjugation geschieht durch die Positionierung der Infixen auf bestimmte Plätze in der Grundform des Verbs. Gib unten den Grundform des Verbs ein um anzufangen.</p>
<form>
    <center>
        <input id="verb-input" type="text" class="form-control" style="width: 300px;" placeholder="Verb hier eingeben..."></input>
        <div id="infix-found-message" style="display: none; text-align: center;">
            Infix-Positionen: <b><span id="infix-found-infix">.</span></b>
            <br>
            <span class="text-muted" style="font-size: 75%">(Diese Infix-Daten sind abgeleitet von der <a href="http://eanaeltu.learnnavi.org/dicts/NaviData.sql"><i>Eana Eltu</i>-Datenbank</a>, der unter der <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/"><i>CC-BY-SA-NC 3.0 Unported</i></a>-Lizenz veröffentlicht ist.)</span>
        </div>
    </center>
</form>
<br>
<div id="infix-error" class="alert alert-warning" style="display: none;">Leider weiß ich die Infix-Positionen dieses Verbs nicht, und deshalb kann ich die Infixe nicht einfugen. Jedoch kann ich dich trotzdem hilfen wenn du die mir zeigt mit Punkte ("<b>.</b>"). Zum Beispiel: "<b>t.ar.on</b>"; "<b>yomt..ìng</b>"; "<b>kelku s..i</b>".</div>
<div id="infix-position-error" class="alert alert-danger" style="display: none;">Diese Infix-Positionen können nicht richtig sein: sie müssen immer vor einem Vokal stehen. Schlage bitte die korrekte Infix-Positionen dieses Verbs auf.</div>
<div id="continuation" style="display: none;">
    <p>Gib hier an welche Infixen du verwenden möchtest. Manche Kombinationen sind nicht gestattet; die korrespondierenden Buttons sind deaktiviert.</p>
    <form>
        <center>
            <table id="options-table" class="table table-hover" style="width: 80%;">
                <tr id="transitivity-row">
                    <th>Transitivität</th>
                    <td>
                        <p><i>Diese erändern die Transitivität des Verbs. Die Causativ macht ein intransitives Verb transitiv ("... veranlasst ... zu jagen"); die Reflexiv macht ein transitives Verb intransitiv ("... jagt sichselbst").</i></p>
                        <div id="transitivity-buttons" class="btn-group" data-toggle="buttons">
                            <label onclick="update()" class="btn btn-default active" id="transitivity-none">
                                <input type="radio" checked> Keine
                            </label>
                            <label onclick="update()" class="btn btn-default" id="transitivity-causative">
                                <input type="radio"> Causativ <i>(eyk)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="transitivity-reflexive">
                                <input type="radio"> Reflexiv <i>(äp)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="transitivity-both">
                                <input type="radio"> Beide
                            </label>
                        </div>
                    </td>
                </tr>
                <tr id="mode-row">
                    <th>Form</th>
                    <td>
                        <p><i>Der Konjunktiv beschreibt einen Wunsch oder wird mit modale Verben benützt. Mit dem Konjunktiv gibt es weniger Möglichkeiten für Zeit und Aspekt. Ein Partizip ist ein Adjektiv der aus einem Verb gemacht wird. Partizipien können kein Zeit-, Aspekt- oder Stimmungs-Infixe haben.</i></p>
                        <div id="mode-buttons" class="btn-group" data-toggle="buttons">
                            <label onclick="update()" class="btn btn-default active" id="mode-not">
                                <input type="radio" checked> Keiner
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mode-subjunctive">
                                <input type="radio"> Konjunktiv <i>(iv)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mode-active-participle">
                                <input type="radio"> Aktives Partizip <i>(us)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mode-passive-participle">
                                <input type="radio"> Passives Partizip <i>(awn)</i>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr id="aspect-row">
                    <th>Aspekt</th>
                    <td>
                        <p><i>Wie der Sprecher den Aktion präsentiert. Perfektiv: der Action wird präsentiert wie ein vollendetes "Snapshot"; Imperfektiv: der Aktion wird präsentiert wie ein &lsquo;Hintergrund&rsquo; für andere Aktionen.</i></p>
                        <div id="aspect-buttons" class="btn-group" data-toggle="buttons">
                            <label onclick="update()" class="btn btn-default active" id="aspect-none">
                                <input type="radio" checked> Nicht angegeben
                            </label>
                            <label onclick="update()" class="btn btn-default" id="aspect-perfective">
                                <input type="radio"> Perfektiv <i>(ol)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="aspect-imperfective">
                                <input type="radio"> Imperfektiv <i>(er)</i>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr id="tense-row">
                    <th>Zeit</th>
                    <td>
                        <p><i>Wann die Aktion stattfindet / stattfand.</i></p>
                        <div id="tense-buttons" class="btn-group" data-toggle="buttons">
                            <label onclick="update()" class="btn btn-default active" id="tense-none">
                                <input type="radio" checked> Nicht angegeben
                            </label>
                            <label onclick="update()" class="btn btn-default" id="tense-past">
                                <input type="radio"> Vergangenheit <i>(am)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="tense-near-past">
                                <input type="radio"> Nahe Vergangenheit <i>(ìm)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="tense-near-future">
                                <input type="radio"> Nahe Zukunft <i>(ìy)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="tense-future">
                                <input type="radio"> Zukunft <i>(ay)</i>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr id="intent-row">
                    <th>Ge­wiss­heit</th>
                    <td>
                        <p><i>Whether the speaker has an intent to do the described action. Only used with a future tense and no aspect.</i></p>
                        <div id="intent-buttons" class="btn-group" data-toggle="buttons">
                            <label onclick="update()" class="btn btn-default active" id="intent-none">
                                <input type="radio" checked> Keine
                            </label>
                            <label onclick="update()" class="btn btn-default disabled" id="intent-intent">
                                <input type="radio"> Zukunft mit Ge­wiss­heit <i>(-s-)</i>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr id="mood-row">
                    <th>Stimmung</th>
                    <td>
                        <p><i>How the speaker feels about the action.</i></p>
                        <div id="mood-buttons" class="btn-group" data-toggle="buttons">
                            <label onclick="update()" class="btn btn-default active" id="mood-none">
                                <input type="radio" checked> Nicht angegeben
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mood-positive">
                                <input type="radio"> Positiv <i>(ei)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mood-negative">
                                <input type="radio"> Negativ <i>(äng)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mood-formal">
                                <input type="radio"> Formal <i>(uy)</i>
                            </label>
                            <label onclick="update()" class="btn btn-default" id="mood-inferential">
                                <input type="radio"> Inferentiell <i>(ats)</i>
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </center>
    </form>
    <center>
        <p><b>Result:</b></p>
        <span id="result"></span>
        <div id="participle-only-attributive-warning" class="alert alert-info" style="display: none;">
            <b>Note:</b> Partizipien können nür attributiv benützt werden.
            Zum Beispiel, mann kann nicht sagen
            <i>"&lt;Substantiv&gt; lu <span id="result-participle"></span>"</i>;
            nur
            <i>"&lt;Substantiv&gt; <span id="prefix-result-participle"></span>"</i> oder
            <i>"<span id="suffix-result-participle"></span> &lt;Substantiv&gt;"</i>.
        </div>
        <div>&nbsp;</div>
    </center>
</div>

<script src="/static/js/navi/infix-database.js"></script>

<script>
    var typingTimeout
    var previousVerb
    $(document).ready(function() {
        $('#verb-input').keyup(function() {
            
            if ($('#verb-input').val() === previousVerb) {
                return
            }
            //$('#declension-table').fadeOut()
            previousVerb = $('#verb-input').val()
            
            var el = this
            
            if (typingTimeout) {
                clearTimeout(typingTimeout)
            }
            typingTimeout = setTimeout(function() {
                realUpdate.call(el)
            }, 500)
        });
        realUpdate()
    });
    
    function update() {
        setTimeout(function() {
            realUpdate()
        }, 0)
    }
    
    function realUpdate() {
        updateDisabledButtons()
        
        var root = $('#verb-input').val()
        // no input? then no error, but also no results ;)
        if (!root) {
            $('#infix-found-message').slideUp()
            $('#infix-error').slideUp()
            $('#infix-position-error').slideUp()
            $('#continuation').fadeOut()
            return
        }
        
        // find the two dots
        var firstPos = root.indexOf(".")
        var secondPos = root.indexOf(".", firstPos + 1)
        if (firstPos === -1 || secondPos === -1) {
            // no infixes indicated, let's look up the verb in the database then
            if (infixDatabase[root]) {
                root = infixDatabase[root]
                $('#infix-found-message').slideDown()
                $('#infix-found-infix').html(root)
                firstPos = root.indexOf(".")
                secondPos = root.indexOf(".", firstPos + 1)
            } else {
                $('#infix-found-message').slideUp()
                $('#infix-error').slideDown()
                $('#infix-position-error').slideUp()
                $('#continuation').fadeOut()
                return
            }
        } else {
            // okay, the user has indicated infixes
            $('#infix-found-message').slideUp()
            
            // sanity check: is there a vowel after the infixes?
            if (!(root.substring(firstPos + 1, firstPos + 2) === "a" ||
                    root.substring(firstPos + 1, firstPos + 2) === "ä" ||
                    root.substring(firstPos + 1, firstPos + 2) === "e" ||
                    root.substring(firstPos + 1, firstPos + 2) === "i" ||
                    root.substring(firstPos + 1, firstPos + 2) === "ì" ||
                    root.substring(firstPos + 1, firstPos + 2) === "o" ||
                    root.substring(firstPos + 1, firstPos + 2) === "u" ||
                    root.substring(firstPos + 1, firstPos + 3) === "ll" ||
                    root.substring(firstPos + 1, firstPos + 3) === "rr" ||
                    root.substring(firstPos + 1, firstPos + 2) === ".")) {
                $('#infix-error').slideUp()
                $('#infix-position-error').slideDown()
                $('#continuation').fadeOut()
                return
            }
            if (!(root.substring(secondPos + 1, secondPos + 2) === "a" ||
                    root.substring(secondPos + 1, secondPos + 2) === "ä" ||
                    root.substring(secondPos + 1, secondPos + 2) === "e" ||
                    root.substring(secondPos + 1, secondPos + 2) === "i" ||
                    root.substring(secondPos + 1, secondPos + 2) === "ì" ||
                    root.substring(secondPos + 1, secondPos + 2) === "o" ||
                    root.substring(secondPos + 1, secondPos + 2) === "u" ||
                    root.substring(secondPos + 1, secondPos + 3) === "ll" ||
                    root.substring(secondPos + 1, secondPos + 3) === "rr" ||
                    root.substring(secondPos + 1, secondPos + 2) === "(")) {
                $('#infix-error').slideUp()
                $('#infix-position-error').slideDown()
                $('#continuation').fadeOut()
                return
            }
        }
        
        $('#infix-error').slideUp()
        $('#infix-position-error').slideUp()
        $('#continuation').fadeIn()
        
        // find the text between the dots
        var beforeFirst = root.substring(0, firstPos)
        var between = root.substring(firstPos + 1, secondPos)
        var afterSecond = root.substring(secondPos + 1)
        
        // a special case for "zenke"
        if (afterSecond.substring(0, 3) === "(e)") {
            if ($('#mood-formal').hasClass('active') || $('#mood-inferential').hasClass('active')) {
                var afterSecond = "e" + afterSecond.substring(3)
            } else {
                var afterSecond = afterSecond.substring(3)
            }
        }
        
        var prefirst = prefirstInfix()
        var first = firstInfix()
        var second = secondInfix(afterSecond)
        
        // Horen 2.3.2. Two special cases:
        var word
        
        // 1) first infix = "ol"; next syllable starts with "ll" ->
        //                              either "ol" or "ll" disappears, dependent on stress
        if ((between + second + afterSecond).substring(0, 2) === "ll" && first === "<span class='first'>ol</span>") {
            var word = "<table><tr>" +
                    "<td style='text-align: right;'><span class='muted'><i>if stress on <b>ll</b></i>:</span></td><td>&nbsp;</td>" +
                    "<td><span class='result'>" +
                    buildResult(beforeFirst, prefirst, "-", between, second, afterSecond) +
                    "</span></td>" +
                    "</tr>" +
                    "<tr>" +
                    "<td style='text-align: right;'><span class='muted'><i>else:</i></span></td><td></td>" +
                    "<td><span class='result'>" +
                    buildResult(beforeFirst, prefirst, first, between.substring(2), second, !between ? afterSecond.substring(2) : afterSecond) +
                    "</span></td>" +
                    "</tr></table>"
                    
        // 2) first infix = "er"; next syllable starts with "rr" ->
        //                              either "er" or "rr" disappears, dependent on stress
        } else if ((between + second + afterSecond).substring(0, 2) === "rr" && first === "<span class='first'>er</span>") {
            var word = "<table><tr>" +
                    "<td style='text-align: right;'><span class='muted'><i>if stress on <b>rr</b></i>:</span></td><td>&nbsp;</td>" +
                    "<td><span class='result'>" +
                    buildResult(beforeFirst, prefirst, "-", between, second, afterSecond) +
                    "</span></td>" +
                    "</tr>" +
                    "<tr>" +
                    "<td style='text-align: right;'><span class='muted'><i>else:</i></span></td><td></td>" +
                    "<td><span class='result'>" +
                    buildResult(beforeFirst, prefirst, first, between.substring(2), second, !between ? afterSecond.substring(2) : afterSecond) +
                    "</span></td>" +
                    "</tr></table>"
                    
        // no special case
        } else {
            var word = "<span class='result'>" +
                    buildResult(beforeFirst, prefirst, first, between, second, afterSecond) +
                    "</span>"
        }
        
        // now output the result
        $('#result').html(word)
        
        // finally, the warnings and notes...
        
        // the participles-only-attributive warning
        if ($('#mode-active-participle').hasClass('active') || $('#mode-passive-participle').hasClass('active')) {
            $('#participle-only-attributive-warning').slideDown()
            $('#result-participle').html("<span class='no-highlight'>" + beforeFirst + prefirst + first + between + second + afterSecond + "</span>")
            $('#prefix-result-participle').html(prefixedAdjective(beforeFirst + prefirst + first + between + second + afterSecond))
            $('#suffix-result-participle').html(suffixedAdjective(beforeFirst + prefirst + first + between + second + afterSecond))
        } else {
            $('#participle-only-attributive-warning').slideUp()
        }
    }
    
    function updateDisabledButtons() {
        
        // reflexive infix cannot be combined with passive participles
        // (http://forum.learnnavi.org/language-updates/reflexive-causative-in-combination-with-the-infixes-ltusgt-and-ltawngt)
        if ($('#transitivity-reflexive').hasClass('active') || $('#transitivity-both').hasClass('active')) {
            disableAndReplaceBy($('#mode-passive-participle'), $('#mode-not'))
        } else {
            enable($('#mode-passive-participle'))
        }
        
        // participles cannot have aspect, tense, intent, mood
        if ($('#mode-active-participle').hasClass('active') || $('#mode-passive-participle').hasClass('active')) {
            
            disableAndReplaceBy($('#aspect-row label'), $('#aspect-none'))
            disableAndReplaceBy($('#tense-row label'), $('#tense-none'))
            disableAndReplaceBy($('#intent-row label'), $('#intent-none'))
            disableAndReplaceBy($('#mood-row label'), $('#mood-none'))
            
            return
        }
        
        enable($('#aspect-row label'))
        enable($('#tense-row label'))
        
        // with the subjunctive, no "near" tense gradations are possible...
        if ($('#mode-subjunctive').hasClass('active')) {
            disableAndReplaceBy($('#tense-near-past'), $('#tense-none'))
            disableAndReplaceBy($('#tense-near-future'), $('#tense-none'))
            
            // ... and we cannot combine aspect and tense anymore
            if (!$('#aspect-none').hasClass('active')) {
                disableAndReplaceBy($('#tense-past'), $('#tense-none'))
                disableAndReplaceBy($('#tense-future'), $('#tense-none'))
            }
        }
        
        // intent cannot be present if aspect is marked, and we have a future tense
        if ($('#mode-not').hasClass('active') && $('#aspect-none').hasClass('active') &&
                    ($('#tense-near-future').hasClass('active') || $('#tense-future').hasClass('active'))) {
            enable($('#intent-intent'))
        } else {
            disableAndReplaceBy($('#intent-intent'), $('#intent-none'))
        }
        
        enable($('#mood-row label'))
    }
    
    function disableAndReplaceBy($toDisable, $toReplaceBy) {
        
        var shouldReplace = false
        for (var i = 0; i < $toDisable.length; i++) {
            var child = $toDisable[i]
            if ($(child).hasClass('active')) {
                shouldReplace = true
            }
        }
        
        $toDisable.addClass('disabled')
        $toDisable.removeClass('active')
        $toDisable.children('input').prop('checked', false)
        
        $toReplaceBy.removeClass('disabled')
        if (shouldReplace) {
            $toReplaceBy.addClass('active')
            $toReplaceBy.children('input').prop('checked', true)
        }
    }
    
    function enable($toEnable) {
        $toEnable.removeClass('disabled')
    }
    
    // finds and returns the pre-first infix
    function prefirstInfix() {
        if ($('#transitivity-causative').hasClass('active')) {
            return "<span class='prefirst'>eyk</span>"
        } else if ($('#transitivity-reflexive').hasClass('active')) {
            return "<span class='prefirst'>äp</span>"
        } else if ($('#transitivity-both').hasClass('active')) {
            return "<span class='prefirst'>äpeyk</span>"
        } else {
            return ""
        }
    }
    
    // finds and returns the first infix
    // yes, I know, this function is large and ugly ;)
    function firstInfix() {
        if ($('#mode-active-participle').hasClass('active')) {
            return "<span class='first'>us</span>"
        } else if ($('#mode-passive-participle').hasClass('active')) {
            return "<span class='first'>awn</span>"
        } else if ($('#mode-subjunctive').hasClass('active')) {
            
            // subjunctive infixes
            if ($('#tense-future').hasClass('active')) {
                return "<span class='first'>ìyev/iyev</span>"
                
            } else if ($('#tense-none').hasClass('active')) {
                if ($('#aspect-none').hasClass('active')) {
                    return "<span class='first'>iv</span>"
                } else if ($('#aspect-perfective').hasClass('active')) {
                    return "<span class='first'>ilv</span>"
                } else {
                    return "<span class='first'>irv</span>"
                }
                
            } else if ($('#tense-past').hasClass('active')) {
                return "<span class='first'>imv</span>"
            }
            
        } else {
            
            // non-subjunctive infixes
            if ($('#tense-future').hasClass('active')) {
                if ($('#aspect-none').hasClass('active')) {
                    if ($('#intent-none').hasClass('active')) {
                        return "<span class='first'>ay</span>"
                    } else {
                        return "<span class='first'>asy</span>"
                    }
                } else if ($('#aspect-perfective').hasClass('active')) {
                    return "<span class='first'>aly</span>"
                } else {
                    return "<span class='first'>ary</span>"
                }
                
            } else if ($('#tense-near-future').hasClass('active')) {
                if ($('#aspect-none').hasClass('active')) {
                    if ($('#intent-none').hasClass('active')) {
                        return "<span class='first'>ìy</span>"
                    } else {
                        return "<span class='first'>ìsy</span>"
                    }
                } else if ($('#aspect-perfective').hasClass('active')) {
                    return "<span class='first'>ìly</span>"
                } else {
                    return "<span class='first'>ìry</span>"
                }
                
            } else if ($('#tense-none').hasClass('active')) {
                if ($('#aspect-none').hasClass('active')) {
                    return ""
                } else if ($('#aspect-perfective').hasClass('active')) {
                    return "<span class='first'>ol</span>"
                } else {
                    return "<span class='first'>er</span>"
                }
                
            } else if ($('#tense-near-past').hasClass('active')) {
                if ($('#aspect-none').hasClass('active')) {
                    return "<span class='first'>ìm</span>"
                } else if ($('#aspect-perfective').hasClass('active')) {
                    return "<span class='first'>ìlm</span>"
                } else {
                    return "<span class='first'>ìrm</span>"
                }
                
            } else if ($('#tense-past').hasClass('active')) {
                if ($('#aspect-none').hasClass('active')) {
                    return "<span class='first'>am</span>"
                } else if ($('#aspect-perfective').hasClass('active')) {
                    return "<span class='first'>alm</span>"
                } else {
                    return "<span class='first'>arm</span>"
                }
            }
        }
    }
    
    // finds and returns the second infix
    function secondInfix(afterSecond) {
        
        if ($('#mood-positive').hasClass('active')) {
            // Horen 2.3.3
            if (afterSecond.charAt(0) === "i" || afterSecond.charAt(0) === "ì" || afterSecond.substring(0, 2) === "ll" || afterSecond.substring(0, 2) === "rr") {
                return "<span class='second'>eiy</span>"
            } else {
                return "<span class='second'>ei</span>"
            }
        } else if ($('#mood-negative').hasClass('active')) {
            // Horen 2.3.5.2
            if (afterSecond.charAt(0) === "i") {
                return "<span class='second'>äng/eng</span>"
            } else {
                return "<span class='second'>äng</span>"
            }
        } else if ($('#mood-formal').hasClass('active')) {
            return "<span class='second'>uy</span>"
        } else if ($('#mood-inferential').hasClass('active')) {
            return "<span class='second'>ats</span>"
        } else {
            return ""
        }
    }
    
    function buildResult(beforeFirst, prefirst, first, between, second, afterSecond) {
        var word = beforeFirst +
                    (prefirst ? "-" : "") +
                    prefirst +
                    (prefirst ? "-" : "") +
                    (first ? "-" : "") +
                    first +
                    (first ? "-" : "") +
                    between +
                    (second ? "-" : "") +
                    second +
                    (second ? "-" : "") +
                    afterSecond
        
        // replace sequences of ----- by -
        // and remove -'s on the end and begin
        word = word.replace(/-+/g, "-").replace(/^-/, "").replace(/-$/, "")
        
        return word
    }
    
    function prefixedAdjective(adjective) {
        if (adjective.charAt(0) === "a") { // TODO should this also be done with aw- and ay-?
            return "<span class='no-highlight'>" + adjective + "</span>"
        } if (adjective.substring(0, 2) === "le") {
            return "<span class='prefix'>(a)</span>-" + "<span class='no-highlight'>" + adjective + "</span>"
        } else {
            return "<span class='prefix'>a</span>-" + "<span class='no-highlight'>" + adjective + "</span>"
        }
    }
    
    function suffixedAdjective(adjective) {
        if (adjective.charAt(adjective.length - 1) === "a") {
            return "<span class='no-highlight'>" + adjective + "</span>"
        } else {
            return "<span class='no-highlight'>" + adjective + "</span>-<span class='suffix'>a</span>"
        }
    }
</script>
