<!doctype html>
<html lang="<%= @item[:language] %>">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#5774A9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Wimiso - <%= @item[:title] %></title>
    
    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    
    <!-- onze eigen zooi -->
    <% if item[:index_page] %>
        <link href="/static/css/homepage.css" rel="stylesheet">
    <% else %>
        <link href="/static/css/layout.css" rel="stylesheet">
    <% end %>
    
    <script src="/static/js/header.js"></script>
    
    <% if item[:needs_math] %>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config(
                {
                    tex2jax: {inlineMath: [['$','$']]},
                    "HTML-CSS": {
                        availableFonts: [], preferredFont: null, // force Web fonts
                        webFont: "Neo-Euler"
                    }
                }
            );
        </script>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
    <% end %>
    <% if item[:needs_highlighting] %>
        <link href="/static/css/pygments.css" rel="stylesheet">
    <% end %>
    <% if item[:needs_popups] %>
        <link href="/static/css/popups.css" rel="stylesheet">
        <script type="text/javascript" src="/static/js/popups.js"></script>
    <% end %>
    
    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
  </head>
  <body data-spy="scroll" data-target="#toc">
       
    <div class="outer-div">
      
      <% if @item[:navbar] %>
        <%= render "/navbars/" + @item[:navbar] + ".html" %>
      <% else %>
        <%= render "/navbars/main.html" %>
      <% end %>
      
      <% if @item[:header_image] %>
        <header id="title" class="with-image">
          <div id="title-image" style="background-image: url('<%= @item[:header_image] %>')"></div>
          <div id="title-inner">
            <h1><%= @item[:title] %></h1>
          </div>
        </header>
      <% elsif not @item[:index_page] %>
        <header id="title">
          <div id="title-inner">
            <h1><%= @item[:title] %></h1>
          </div>
        </header>
      <% end %>

      <% if @item[:toc] %>
        <nav id="toc"></nav>
      <% end %>
      
      <article id="content">
        <%= yield %>
      </article>
      
      <div id="footer">
        <footer id="footer-inner" class="container">
          &copy; 2014 &ndash; <%= Date.today.year %>&nbsp;&nbsp;Willem Sonke. <a href="https://gitlab.com/Willem3141/wimiso.nl/blob/master/content<%= item.identifier %>"><%= _ :page_source %></a>
        </footer>
      </div>
    </div>
  </body>
</html>
