<% render '/default.html' do %>
  <div class="text-muted" style="text-align: center; margin-bottom: 25px;"><%= tags_for(@item, {base_url: "#{language_prefix_of @item}/blog/tag/", separator: " / "}) %> / <%= item[:created_at] %></div>
  <article>
    <%= yield %>
  </article>
  <% if false %>
    <h2><%= _(:comments) %></h2>
    <script data-isso="//isso.wimiso.nl/" data-isso-lang="<%= @item[:language] %>" src="//isso.wimiso.nl/js/embed.min.js"></script>
    <section id="isso-thread"></section>
  <% end %>
<% end %>
