<% sorted_articles_in_language(@item[:language]).each() do |post| %>
  <div class="blog-item">
    <div class="blog-message-date">
      <%= post[:created_at].split(" ")[0] %>
    </div>
    <div class="blog-message-body">
      <div class="blog-blob"></div>
      <div class="blog-message-tags">
        <%= tags_for(post, {base_url: "tag/", separator: " / "}) %>
      </div>
      <div class="blog-message-title">
        <%= link_to post[:title], post.path %>
      </div>
      <div class="blog-message-text">
        <%= get_post_start(post) %>
      </div>
    </div>
  </div>
<% end %>
