// the main block structure of the site

.outer-div {
    min-height: 100%;
    position: relative;

    // the title block
    #title {
        background-color: @color-primary;
        z-index: 10;

        &.with-image {
            top: -150px;

            #title-image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-size: cover;
                background-position: 0% 50%;
                box-shadow: inset 0px -250px 250px -250px rgba(0, 0, 0, 0.3);
            }
        }

        #title-inner {
            margin: 0 auto;
            position: relative;
            padding: 20px @content-margin;
            .innerBlockWidth();

            h1 {
                position: relative;
            }
        }

        &.with-image {
            padding-top: 120px;
        }
    }

    // the content block
    #content {
        .innerBlockWidth();
        .clearfix();
        background-color: transparent;
        margin: 0 auto;
        padding: 20px @content-margin;
        padding-bottom: @footer-height;
    }

    // the footer
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: @footer-height;

        text-align: center;
        font-size: 80%;
        color: rgba(0, 0, 0, 0.5);
    }
}

