article {

    /* Make sure that everything has the correct width */
    p,
    h1, h2, h3, h4, h5, h6,
    pre,
    ul, ol,
    .blog-item {
        width: 100%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Code blocks */
    pre {
        border: none;
        padding: 20px 0px;
        .extendedGrayBackground();
    }

    /* Images */
    .image-container {
        text-align: center;
    }

    .image {
        display: inline-block;
        width: 100%;
        @media (min-width: @screen-xs) {
            width: 80%;
        }
        @media (min-width: @screen-sm) {
            width: 60%;
        }
        max-width: 600px;
        margin-bottom: 25px;
        font-style: italic;
        padding-top: 10px;
        padding-bottom: 10px;
        .extendedGrayBackground();
    }

    .image img, .image video {
        max-width: 100%;
    }
}
