body {
    color: rgba(255, 255, 255, 0.95);
}

a {
    color: rgba(175, 206, 233, 0.95);
}

.outer-div {
    background-image: url('/static/img/header.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.navbar-default {
    background: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.95);
}

h1 {
    background: none;
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.95);
}

.footer {
    color: rgba(255, 255, 255, 0.5);
}