@import "bootstrap-3.3.2/less/bootstrap.less";

@import "mixins.less";
@import "blocks.less";
@import "content.less";
@import "header.less";
@import "subheader.less";
@import "blog.less";
@import "pygments.less";
@import "tables.less";
@import "thesis.less";

@import url('https://fonts.googleapis.com/css?family=Enriqueta:400,700|Julius+Sans+One&subset=latin,latin-ext');
@font-face {
  font-family: 'Wimiso';
  src: url('/static/files/fonts/Wimiso.ttf') format('truetype'), url('/static/files/fonts/Wimiso.woff') format('woff');
}
@font-face {
  font-family: 'Calluna Sans';
  src: url('CallunaSansRegular-webfont.woff2') format('woff2'), url('CallunaSansRegular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calluna Sans';
  src: url('CallunaSansItalic-webfont.woff2') format('woff2'), url('CallunaSansItalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Calluna Sans';
  src: url('CallunaSansBold-webfont.woff2') format('woff2'), url('CallunaSansBold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Calluna Sans';
  src: url('CallunaSansBoldItalic-webfont.woff2') format('woff2'), url('CallunaSansBoldItalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-family-serif: "Calluna Sans", sans-serif;
@font-family-base: @font-family-serif;
@font-family-monospace: "Fira Mono", monospace;
@font-size-base: 12pt;
@blockquote-font-size: @font-size-base;

@color-primary: #b54772;
@color-secondary: #5774A9; // if this is changed, also change the meta theme-color in the template
@color-tertiary: #7997CE;

@color-background: #ffffff;
@color-footer: #eeeeee;

@darken-amount: 3%;

@color-text: #222222;

@footer-height: 60px;

@content-margin: 40px;

@icon-font-path: '/static/fonts/';

html {
    height: 100%;
    hyphens: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    line-height: 25px;
    height: 100%;
    text-rendering: optimizeLegibility;
    text-align: left;
    @media (min-width: @screen-md) {
        text-align: justify;
    }
    color: @color-text;
    position: relative;
}

h1 {
    color: #444;
	font-family: 'Julius Sans One';
    font-weight: 700;
    margin: 0;
	margin-bottom: -4px;
    color: white;
    font-size: 36pt;
    text-align: center;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

h2 {
	font-family: 'Julius Sans One';
    font-weight: 700;
    font-size: 0.7 * 32pt;
    color: @color-primary;
    margin: 40px 0px 20px -1px;
	padding-bottom: 3px;
    text-align: center;
	border-bottom: 1.5px solid @color-primary;
}

h3 {
    font-weight: 400;
    color: @color-primary;
    text-align: left;
}

h4, h5, h6 {
    font-weight: 400;
    text-align: left;
}

/* Sideboxes */
.sidebox {
    background: #f6f4cf;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    text-align: left;
    
    h3 {
        font-family: "Wimiso", sans-serif;
        font-weight: bold;
    }
}

.blogpost-box {
    position: relative;
    background: #f6f4cf;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    padding: 15px;
    padding-top: 1px;
    margin-bottom: 30px;
}

.image img, .image video {
    max-width: 100%;
}

/* Publicaties */
.publication-abstract-header {
    font-weight: bold;
    color: @color-primary;
}

.publication-abstract-text {
    display: hidden;
}

/* Furigana */
ruby rt {
    margin-bottom: -3px;
}

