@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400,400italic,300);

html {
    height: 100%;
    hyphens: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    line-height: 25px;
    height: 100%;
    text-rendering: optimizeLegibility;
    text-align: justify;
    color: #222;
    position: relative;
}

pre, code {
    font-family: "Oxygen Mono";
}

h1 {
    color: #444;
    font-weight: 700;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 1000px;
    padding-right: 1000px;
    margin-left: -1000px;
    margin-right: -1000px;
    margin-bottom: 20px;
    background-color: #B54772;
    color: white;
    font-size: 32pt;
}

h2 {
    font-weight: 300;
    font-size: 32pt;
    color: #B54772;
    margin: 60px 0px 20px -1px;
}

h3 {
    font-weight: 400;
    color: #B54772;
}

h4, h5, h6 {
    font-weight: 400;
}

.outer-div {
    min-height: 100%;
    position: relative;
    background: #fcfcfc;
}

.content {
    padding-bottom: 4em;
}

/* De inhoudsopgave */
#toc {
    margin-top: -15px;
}

#toc, #toc .nav {
    padding-left: 40px;
    width: 220px;
}
#toc .nav li {
    font-size: 11pt;
}
#toc .nav li.active {
    font-weight: 700;
}
body.down #toc .nav {
    position: fixed;
    top: 25px;
}

/* De header */
.navbar-default {
    border: none;
    background: #3C9A5C;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.95);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background: #88BE4A;
    color: rgba(255, 255, 255, 0.95);
}

.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 0.95);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: rgba(255, 255, 255, 1);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background: #88BE4A;
    color: rgba(255, 255, 255, 0.95);
}

.dropdown-menu {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    background: #3C9A5C;
    border-radius: 0px;
    border: none;
}

.dropdown-menu > li > a {
    color: rgba(255, 255, 255, 0.95);
}

.dropdown-menu > li > a:hover {
    background: #f1edb2;
}

/* this is a hack; see https://github.com/twbs/bootstrap/issues/10495 */
.nav li a > .glyphicon, .dropdown-toggle > .glyphicon {
    float: left;
    margin-top: 0px;
    margin-right: 1px;
}

body.down .header-bottom.clone {
    display: inherit;
}

.navbar-brand {
    font-weight: bold;
}

.breadcrumb {
    font-style: italic;
}

/* De footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    
    text-align: center;
    font-size: 80%;
    padding: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/* Sideboxes */
.sidebox {
    background: #f6f4cf;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    text-align: left;
}

.blogpost-box {
    position: relative;
    background: #f6f4cf;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    padding: 15px;
    padding-top: 1px;
    margin-bottom: 30px;
}

/* this is so cool, my first media query ever :D */
@media(min-width:992px) {
    .blogpost-box.lower {
        top: 80px;
    }
}

/* Images */
.image-container {
    text-align: center;
}

.image {
    display: inline-block;
    width: 60%;
    margin-bottom: 25px;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px #eeeeee solid;
    border-bottom: 1px #eeeeee solid;
}

.image img {
    max-width: 100%;
}
