.innerBlockWidth() {
    width: 100%;
    @media (min-width: @screen-md) {
        width: 85%;
    }
}

/* Extends the gray background to the left and right. */
.extendedGrayBackground() {
    position: relative;
    overflow: visible;

    &:before {
        content: " ";
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: -1000px;
        right: -1000px;
        display: block;
        z-index: -1;
        background-color: #f5f5f5;
    }
}

