table {
	margin-left: auto;
	margin-right: auto;

	tr {
		border-top: 1.5px solid black;

		td {
			padding: 10px 8px;
			padding-right: 40px;

			&:last-child {
				padding-right: 10px;
			}
		}
	}
}
