---
id: about-me
title: About me
layout: page
header_image: /static/img/leaves-header.jpg
---

<p>Hi! My name is Willem Sonke.</p>

<%= render "/image.html", :url => "/static/img/willem.jpg", :description => "This is me!" %>

<p>I am a scientific programmer and researcher at the <a href="http://alga.win.tue.nl/">Algorithms, Geometry, and Applications</a> cluster of the <a href="http://www.tue.nl">Eindhoven University of Technology</a> in The Netherlands.</p>

<p>I have several hobbies, including programming things for fun, making 3D animations, drawing, and learning languages.</p>

<h2>About this website</h2>
<p>This website is maintained using the static site generator <a href="http://nanoc.ws">Nanoc 4</a>. Contrary to most static site generators, Nanoc is really flexible &ndash; you can control exactly what happens when the site is generated, which suits this rather complex website well.</p>
<p>The frontend is made using <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://lesscss.org">Less</a>. The fonts used are <a href="https://fonts.google.com/specimen/Julius Sans One">Julius Sans One</a> and <a href="https://www.exljbris.com/callunasans.html">Calluna Sans</a>.</p>

