---
id: conlangs
title: Constructed languages
layout: default
---

<p>I am interested in <a href="http://en.wikipedia.org/wiki/Constructed_language">constructed languages</a>. Those are languages that did not evolve naturally, but are created deliberately.</p>

<h2>Na'vi</h2>
<p><a href="http://en.wikipedia.org/wiki/Na%27vi_language">Na'vi</a> is the language that was created for the film <a href="https://en.wikipedia.org/wiki/Avatar_(2009_film)">Avatar</a>. It is a language that sounds beautiful in my opinion.</p>

<p>I created some small tools to help with Na'vi grammar.</p>
<ul>
  <li><a href="/navi/nouns">nouns</a></li>
  <li><a href="/navi/verbs">verbs</a></li>
  <li><a href="/navi/adjectives">adjectives</a></li>
</ul>

<p>Also, you can view the current weather information in Na'vi on <a href="/navi/yafkeyk">this page</a>.</p>

<p>You can also read the entire page (and also some other pages on this website) in Na'vi; for that click the language chooser above and pick <i>nìNa'vi</i>.</p>

<h3>An example of Na'vi</h3>
<p>Kaltxì! Oeru fko syaw Wllìm.<br>Ngaru lu fpom srak?<br>Kìyevame!</p>
<p class="text-muted">(Hello! My name is Willem.<br>Are you well?<br>See you soon!)</p>

<h2>Lojban</h2>
<p><a href="http://lojban.org">Lojban</a> is a language that was constructed with the goal to create a parseable language. This means that a computer is able to find out the grammatical structure of a sentence. Unfortunately my knowledge of Lojban is rather bad currently.</p>

<p>There are several parsers for Lojban, but they all give rather cryptic output. I made a front-end to the <i>camxes</i> parser that tries to make its output a bit clearer. This front-end is available <a href="/lojban-parser">here</a>.</p>

<h3>An example of Lojban</h3>
<p>.i coi .i mi se cmene zo .uilym.<br>.i xu do kanro<br>.i co'o</p>
<p class="text-muted">(This means roughly the same as the Na'vi example above.)</p>

