---
id: fonts
title: Fonts
header_image: /static/img/fonts-header.png
---

<style>
  @font-face {
    font-family: 'Blob';
    src: url('/static/files/fonts/blob.ttf') format('truetype'), url('/static/files/fonts/blob.woff') format('woff');
  }
</style>

<p>On this page, you will find my fonts. I'm not at all a professional font creator, so don't expect too much of them.</p>

<h2 id="blob">Blob</h2>
<p>Blob is a &lsquo;blobby&rsquo; font for headers, slogans and such; it is not meant for paragraphs of text. It has support for the (basic) Latin and Greek scripts, and some (especially mathematical) symbols. I made this font in the beginning of 2012 using FontForge. Blob is licensed under the <a href="http://creativecommons.org/publicdomain/zero/1.0">CC0</a> (public domain).</p>

<h3>Examples</h3>
<p style="font-family: Blob; text-align: center; line-height: 30px;">
  <span style="font-size: 200%;">Blob is a 'blobby' font</span><br>
  <span style="font-size: 200%;">In nova fert animus mutatas dicere formas</span><br>
  <span style="font-size: 200%;">Μηνιν αειδε, θεα, Πηληϊαδεω Αχιληος</span><br>
  <span style="font-size: 200%;">&forall; n &isin; &#8469; : &exist; m &isin; &#8469; : m &gt; n</span><br>
</p>

<h3>Downloads</h3>
<p><a href="/static/files/fonts/blob.ttf">TTF version</a> &mdash; <a href="/static/files/fonts/blob.woff">WOFF version</a> &mdash; <a href="/static/files/fonts/blob.sfd">FontForge source</a></p>

<h2 id="wimiso">Wimiso</h2>
<p>Wimiso is a font I created from my block-letter handwriting. Normally, I write in cursive, but that is horrible to convert to a font. I made this font in 2015 by using the auto-trace feature in FontForge. It supports
<ul>
<li>the Latin script (including the Latin-1 supplement and large parts of Latin Extended-A);</li>
<li>the Greek script (including polytonic);</li>
<li>most of the Tengwar (encoded using the <a href="http://www.evertype.com/standards/csur/tengwar.html">CSUR proposal</a>).</li>
</ul>
</p>
<p>Note that the position of diacritics is buggy; they may look bad with some of the letters. For the Tengwar, the <i>tehta</i> positioning is especially bad, and there seems to be no easy way to fix this.</p>
<p>Wimiso is licensed under the <a href="http://creativecommons.org/publicdomain/zero/1.0">CC0</a> (public domain).</p>

<h3>Examples</h3>
<p style="font-family: Wimiso; text-align: center; line-height: 30px;">
  <span style="font-size: 200%;">Wimiso is a script font</span><br>
  <span style="font-size: 200%;">Some maths: 2 ÷ 4 = ½ and 21 &times; 3 = 63</span><br>
  <span style="font-size: 200%;">Arma virumque cano, Troiae qui primus ab oris</span><br>
  <span style="font-size: 200%;">Ἄνδρα μοι ἔννεπε, Μοῦσα, πολύτροπον, ὃς μάλα πολλὰ</span><br>
  <span style="font-size: 200%;">           </span><br>
</p>

<h3>Downloads</h3>
<p><a href="/static/files/fonts/Wimiso.otf">OTF version</a> &mdash; <a href="/static/files/fonts/Wimiso.ttf">TTF version</a> &mdash; <a href="/static/files/fonts/Wimiso.woff">WOFF version</a> (version 1.1)</p>
