---
id: home
title: Home
layout: default
index_page: true
---

<h2 class="index-page-header">Welcome!</h2>
<p>Hello, and welcome to my site! My name is Willem Sonke. I am a scientific programmer and researcher in computer science, and in my spare time I work on various hobbies and projects.</p>
<p>On this site you can find some software projects I have created or worked on, some personal things and some other things you might find useful.</p>
<p>If you're more interested in what I do with regards to research and teaching, please have a look at my <a href="https://www.win.tue.nl/~wsonke/">research website at TU Eindhoven</a>.</p>
