---
id: blog
title: Blog
---

<h1>Blog</h1>
<p>Op deze blog schrijf ik over dingen die ik gemaakt heb of dingen die ik meegemaakt heb.</p>

<h2>Artikelen</h2>
<% sorted_articles_in_language("nl").each do |post| %>
  <div class='post'>
    <span class="text-muted pull-right" style="margin-top: 20px;"><%= tags_for(post, {base_url: "tag/", separator: " / "}) %> / <%= post[:created_at] %></span>
    <h3><%= link_to post[:title], post.path %></h3>
    <article>
      <%= get_post_start(post) %>
    </article>
  </div>
<% end %>
