---
id: home
title: Start
layout: default
index_page: true
---

<h2 class="index-page-header">Welkom!</h2>
<p>Hallo, en welkom op mijn site! Mijn naam is Willem Sonke. Ik ben een wetenschappelijk programmeur en onderzoeker in de informatica, en in mijn vrije tijd werk ik aan een aantal hobby's en projecten.</p>
<p>Op deze site kun je softwareprojecten vinden die ik heb gemaakt, wat persoonlijke dingen, en wat andere dingen die misschien nuttig zijn.</p>
<p>Als je geïnteresseerd bent in de dingen die ik doe voor onderzoek en onderwijs, kijk dan op <a href="https://www.win.tue.nl/~wsonke/">mijn onderzoekswebsite bij de TU Eindhoven</a>.</p>
