---
id: conlangs
title: Kunsttalen
layout: default
---

<p>Ik ben geïnteresseerd in <a href="http://nl.wikipedia.org/wiki/Kunsttaal">kunsttalen</a>. Dat zijn talen die niet natuurlijkerwijs zijn geëvolueerd, maar die met opzet geconstrueerd zijn.</p>

<h2>Na'vi</h2>
<p><a href="http://en.wikipedia.org/wiki/Na%27vi_language">Na'vi</a> is de taal die is gemaakt voor de film <a href="https://en.wikipedia.org/wiki/Avatar_(2009_film)">Avatar</a>. Het is een taal die, naar mijn mening, mooi klinkt.</p>

<p>Ik heb enkele hulpmiddelen gemaakt voor de Na'vi-grammatica.</p>
<ul>
  <li><a href="/navi/nouns">zelfstandige naamwoorden</a></li>
  <li><a href="/navi/verbs">werkwoorden</a></li>
  <li><a href="/navi/adjectives">bijvoeglijke naamwoorden</a></li>
</ul>

<p>Op <a href="/navi/yafkeyk">deze pagina</a> kun je het actuele weerbericht in het Na'vi bekijken.</p>

<p>Je kunt ook deze pagina (en ook een paar andere pagina's op deze site) in het Na'vi lezen; klik daarvoor op de taalknop hierboven en kies <i>nìNa'vi</i>.</p>

<h3>Een voorbeeld van Na'vi</h3>
<p>Kaltxì! Oeru fko syaw Wllìm.<br>Ngaru lu fpom srak?<br>Kìyevame!</p>
<p class="text-muted">(Hallo! Ik heet Willem.<br>Hoe gaat het ermee?<br>Tot ziens!)</p>

<h2>Lojban</h2>
<p><a href="http://lojban.org">Lojban</a> is een kunsttaal die is gemaakt met de bedoeling om een parsebare taal te maken. Dat betekent dat een computer automatisch de grammaticale structuur van een zin kan bepalen. Helaas is mijn Lojban momenteel niet erg goed.</p>

<p>Er zijn verschillende parsers voor Lojban, maar hun uitvoer is nogal cryptisch. Ik heb een pagina gemaakt die de uitvoer van de parser <i>camxes</i> probeert inzichtelijker te maken. Deze front-end is <a href="/lojban-parser">hier</a> te vinden.</p>

<h3>Een voorbeeld van Lojban</h3>
<p>.i coi .i mi se cmene zo .uilym.<br>.i xu do kanro<br>.i co'o</p>
<p class="text-muted">(Dit betekent ongeveer hetzelfde als het Na'vi-voorbeeld hierboven.)</p>

