---
id: fonts
title: Lettertypen
header_image: /static/img/fonts-header.png
---

<style>
  @font-face {
    font-family: 'Blob';
    src: url('/static/files/fonts/blob.ttf') format('truetype'), url('/static/files/fonts/blob.woff') format('woff');
  }
</style>

<p>Op deze pagina vind je de lettertypen die ik gemaakt heb. Ik ben niet bepaald een professionele ontwerper, dus verwacht er niet al te veel van..</p>

<h2 id="blob">Blob</h2>
<p>Blob is een &lsquo;blob-achtig&rsquo; lettertype voor koppen, slogans enzovoorts; het is niet bedoeld voor grote stukken tekst. Blob biedt ondersteuning voor het Latijnse en het Griekse schrift en enkele (vooral wiskundige) symbolen. Ik heb dit lettertype gemaakt met FontForge in 2012. Blob is vrijgegeven onder de <a href="http://creativecommons.org/publicdomain/zero/1.0">CC0</a> (publiek domein).</p>

<h3>Voorbeelden</h3>
<p style="font-family: Blob; text-align: center">
  <span style="font-size: 200%;">Blob is een 'blob-achtig' lettertype</span><br>
  <span style="font-size: 200%;">In nova fert animus mutatas dicere formas</span><br>
  <span style="font-size: 200%;">Μηνιν αειδε, θεα, Πηληϊαδεω Αχιληος</span><br>
  <span style="font-size: 200%;">&forall; n &isin; &#8469; : &exist; m &isin; &#8469; : m &gt; n</span><br>
</p>

<h3>Downloads</h3>
<p><a href="/static/files/fonts/blob.ttf">TTF-versie</a> &mdash; <a href="/static/files/fonts/blob.woff">WOFF-versie</a> &mdash; <a href="/static/files/fonts/blob.sfd">FontForge-bronbestand</a></p>

<h2 id="wimiso">Wimiso</h2>
<p>Wimiso is een lettertype dat ik gemaakt heb van mijn blokletter-handschrift. Normaal gesproken schrijf ik aan elkaar, maar dat is een ramp om om te zetten in een lettertype. Ik heb dit lettertype gemaakt in 2015 met behulp van de auto-trace-functie in FontForge. Het ondersteunt
<ul>
<li>het Latijnse schrift (inclusief het Latin-1-supplement en grote delen van Latin Extended-A);</li>
<li>het Griekse schrift (inclusief Oudgriekse accenten);</li>
<li>veel van de Tengwar (opgeslagen volgens het <a href="http://www.evertype.com/standards/csur/tengwar.html">CSUR-voorstel</a>).</li>
</ul>
</p>
<p>De plaatsing van accenttekens is niet helemaal correct; sommige letter-accent-combinaties zien er niet goed uit. Voor de Tengwar is de positie van de <i>tehtar</i> met name vervelend, en er lijkt hiervoor geen makkelijke oplossing te zijn.</p>
<p>Wimiso is vrijgegeven onder de <a href="http://creativecommons.org/publicdomain/zero/1.0">CC0</a> (publiek domein).</p>

<h3>Voorbeelden</h3>
<p style="font-family: Wimiso; text-align: center; line-height: 30px;">
  <span style="font-size: 200%;">Wimiso is een geschreven lettertype</span><br>
  <span style="font-size: 200%;">Een paar sommen: 2 ÷ 4 = ½ en 21 &times; 3 = 63</span><br>
  <span style="font-size: 200%;">i + j = ij: ijssalon, dijk, blijken</span><br>
  <span style="font-size: 200%;">Arma virumque cano, Troiae qui primus ab oris</span><br>
  <span style="font-size: 200%;">Ἄνδρα μοι ἔννεπε, Μοῦσα, πολύτροπον, ὃς μάλα πολλὰ</span><br>
  <span style="font-size: 200%;">           </span><br>
</p>

<h3>Downloads</h3>
<p><a href="/static/files/fonts/Wimiso.otf">OTF-versie</a> &mdash; <a href="/static/files/fonts/Wimiso.ttf">TTF-versie</a> &mdash; <a href="/static/files/fonts/Wimiso.woff">WOFF-versie</a> (versie 1.1)</p>
