---
id: about-me
title: Over mij
layout: page
header_image: /static/img/leaves-header.jpg
---

<p>Hoi! Ik heet Willem Sonke.</p>

<%= render "/image.html", :url => "/static/img/willem.jpg", :description => "Dit ben ik!" %>

<p>Ik ben wetenschappelijk programmeur en onderzoeker binnen het cluster <a href="http://alga.win.tue.nl/">Algorithms, Geometry, and Applications</a> van de <a href="http://www.tue.nl">Technische Universiteit Eindhoven</a>.</p>

<p>Daarnaast heb ik behoorlijk wat hobby's, waaronder dingen programmeren voor de lol, 3D-animaties maken, tekenen en talen leren.</p>

<h2>Over deze website</h2>
<p>Ik onderhoud deze website met de statische-website-generator <a href="http://nanoc.ws">Nanoc 4</a>. In tegenstelling tot de meeste site-generatoren, is Nanoc erg flexibel &ndash; je kunt precies bepalen wat er moet gebeuren tijdens iedere stap van het genereren van de website, wat erg nuttig is voor deze enigszins ingewikkeld opgezette website.</p>
<p>De frontend is gemaakt met <a href="http://getbootstrap.com">Bootstrap</a> en <a href="http://lesscss.org">Less</a>. De gebruikte lettertypen zijn <a href="https://fonts.google.com/specimen/Julius Sans One">Julius Sans One</a> en <a href="https://www.exljbris.com/callunasans.html">Calluna Sans</a>.</p>

