---
id: 2014-11-26-grammar-tutorial-1
title: Grammar tutorial (part 1)
kind: article
created_at: 2014-11-26 21:11
excerpt: Why are sentences constructed as they are? In this &lsquo;tutorial&rsquo; I will try to explain the basics of grammar. The goal of this tutorial is not to learn you all formal terminology, but rather to let you understand why the sentence <b>I am writing an article about grammar.</b> makes sense, while <b>I the is a doing strange largely complain.</b> doesn't.
draft: true
tags:
 - meta
---

<style>
.example-sentence {
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

.example-number {
    float: right;
}
</style>

<p>Why are sentences constructed as they are? In this &lsquo;tutorial&rsquo; I will try to explain the basics of grammar. The goal of this tutorial is not to learn you all formal terminology, but rather to let you understand why the sentence</p>
<div class="sidebox-right">
    Those numbers on the right side of the page are included to be able to refer to the examples easily later on.
</div>
<p class="example-sentence"><span class="example-number">(1)</span>I am writing an article about grammar.</p>
<p>makes sense, while</p>
<p class="example-sentence"><span class="example-number">(2)</span>I the is a doing strange largely complain.</p>
<p>doesn't.</p>

<div class="alert alert-info">A remark beforehand: I'm not a linguist; I am just interested in how languages work. Also, I am not a native English speaker. If you see errors, please <a href="<%= localized_url 'contact' %>">contact</a> me so that I can correct them. Thanks :)</div>

<h2>Nouns and verbs</h2>
<p>Let's first look at some very basic sentences.</p>

<p class="example-sentence"><span class="example-number">(3)</span>The man goes to the market.</p>
<p class="example-sentence"><span class="example-number">(4)</span>I see John.</p>
<p class="example-sentence"><span class="example-number">(5)</span>I swim in the river.</p>

<p>We can hopefully agree that those sentences are valid English. When we look at them more closely, we see that there are various types of words that take on different functions in the sentence. There are several words (<b>man</b>, <b>market</b>, <b>John</b>, <b>river</b>) that denote things, persons or places; in other words, objects. Other words (<b>goes</b>, <b>see</b>, <b>swim</b>) denote the action that is happening. Finally there are some small words (<b>I</b>, <b>to</b>, <b>the</b>, <b>in</b>) that belong to neither category.</p>

<div class="sidebox-right">
    The words <i>noun</i> and <i>verb</i>, like many linguistic terms, are derived from Latin.
</div>
<p>In the remainder, we will see that those &lsquo;categories&rsquo; are very relevant to learn more about. Let's give them names: <b>John</b>, <b>market</b>, <b>fish</b> and <b>river</b> are called <i>nouns</i> and <b>go</b>, <b>see</b> and <b>swims</b> are called <i>verbs</i>.</p>

<div class="sidebox-right">
    Almost all languages have a noun/verb-distinction, but it is not really necessary. The invented language <a href="<%= localized_url 'conlangs' %>">Lojban</a> makes no difference between nouns and verbs.
</div>
<p>Now unfortunately, to make things complicated, the English language has the annoying habit of having many words that can be both noun or verb. For example, consider the following example:</p>

<p class="example-sentence"><span class="example-number">(6)</span>I went for a swim in the river.</p>

<p>There <b>swim</b> suddenly became a noun. Compare sentence <b>(5)</b> and <b>(6)</b> to see what is happening: in <b>(5)</b>, the word <b>swim</b> indicates the main action, while in <b>(6)</b> it denotes an (abstract) object, namely an instance of swimming. You see that while the noun <b>swim</b> and the verb <b>swim</b> have essentially the same meaning &ndash; both indicate that some person is making all kinds of strange movements while in the water &ndash; the difference between the noun and the verb is how they are used in the sentence. A verb is used to denote the main action in a sentence; a noun is used to denote objects.</p>

<div class="sidebox-right">
    Proper names like <b>John</b> do not get an article, but they are still considered nouns.
</div>
<p>Another way to look at this is the following. A noun can almost always be preceded by an <i>article</i>, which is the word <b>a(n)</b> or <b>the</b>. On the other hand, an article can never occur before a verb.</p>

<h2>Some other word types</h2>
<p>... (to do)</p>
