body {
    font-family: Candara, sans-serif !important;
    color: #000000;
    transition: background-color 1s, color 1s;
}

body.bright {
    background-color: #aaddff;
}
body.dark {
    background-color: #d0d0d0;
}
body.night {
    background-color: #001122;
    color: #ffffff;
}

h1 {
    text-align: center;
}

#input-row {
    padding-left: 10%;
    padding-right: 10%;
}

#city-field {
    background: rgba(255, 255, 255, 0.5);
}

#now-row {
    padding-left: 10%;
    padding-right: 10%;
}

#now-weather-image-and-description {
    display: flex;
}

#now-weather-image {
    float: left;
    display: inline-block;
    width: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#now-weather-description {
    float: left;
    display: inline-block;
    width: 75%;
}

#prediction-row {
    padding-left: 10%;
    padding-right: 10%;
}

#copyright-row {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    text-align: center;
    font-size: 80%;
}
