<nav class="navbar navbar-default" role="navigation">
  <div class="container" id="navbar-inner">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Wimiso</a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <%= menu_link_to 'home' %>
        <%= submenu_to(:projects, ['joxy', 'ti-programs', 'fonts', 'graduates-viewer', 'conlangs']) %>
        <%= menu_link_to 'contact' %>
        <%= menu_link_to 'blog' %>
        <%= menu_link_to 'about-me' %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;<%= language_name_of @item %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% translations_of(@item).each do |t| %>
              <% if @item == t %>
                <li class="active">
                  <a>
                    <%= language_name_of(t) %>
                  </a>
                </li>
              <% else %>
                <li>
                  <a href="<%= t.path %>">
                    <%= language_name_of t %>
                  </a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
